<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="app">
            <input type="text" name="" id="" v-model='firstname'>+<input type="text" v-model='lastname'> =
              {{ firstname }}{{lastname}}  {{ fullname }}

        </div>
</body>
<script src='vue.js'></script>
<script>
    var id = {name:'chenle'};
 const app = new Vue({
     el:'#app',
     data:{
       firstname: '陈',
       lastname: '乐',
       fullname:'陈乐'
  
        
     },
     watch:{
        firstname(newVal,oldVal){
            this.fullname = newVal + this.lastname
        },
        lastname(newVal,oldVal){
            this.fullname = this.firstname+ newVal;
        }
     },
     computed:{
         
     },
     methods:{
        
     }
 })




</script>
</html>